@font-face {
    font-family: "unbounded";
    src: url("../../public/fonts/unbounded.ttf");
}

@font-face {
    font-family: "satoshi";
    src: url("../../public/fonts/satoshi.otf");
}

@font-face {
    font-family: "unboundedLight";
    src: url("../../public/fonts/unboundedLight.ttf");
}